site_name: kmindex documentation

nav:
  - Home: 'index.md'
  - 'User Guide':
    - 'Installation': 'installation.md'
    - 'Index construction': 'construction.md'
    - 'Index query': 'query.md'
  - 'Server':
    - 'Deploy': 'server-deploy.md'
    - 'Query': 'server-query.md'
  - 'Python API': 'python-api.md'
theme:
    name: material
    highlightjs: true
    palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

    features:
      - navigation.tabs
      - navigation.tracking
      - content.code.copy
      - content.code.select
      - content.code.annotate

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - toc:
      permalink: true
  - tables

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css

extra:
  version:
    provider: mike
